{% extends "base.html" %}
{% block contenido %}
	<section>
		<h2>Resultados</h2>
		<article class="puesto">
			<img src="{{ STATIC_URL}}img/{{ cand1 }}.jpg">
			<h3>Primer Lugar:<p></p> {{ cand1 }} con {{ primero }}%</h3>
		</article>
		<article class="puesto">
			<img src="{{ STATIC_URL}}img/{{ cand2 }}.jpg">
			<h3>Segundo Lugar:<p></p> {{ cand2 }} con {{ segundo }}%</h3>
		</article>
		<article class="puesto">
			<img src="{{ STATIC_URL}}img/{{ cand3 }}.jpg">
			<h3>Tercer Lugar:<p></p> {{ cand3 }} con {{ tercero }}%</h3>
		</article>
		<article class="puesto">
			<img src="{{ STATIC_URL}}img/{{ cand4 }}.jpg">
			<h3>Cuarto Lugar:<p></p> {{ cand4 }} con {{ cuarto }}%</h3>
		</article>
	</section>
{% endblock %}